@{
    ViewBag.Title = "Toplanti ozeti";
}
<main>
    <h1 class="h4 text-center">Toplanti Ozeti</h1>
    <p>Toplantiya sizinle birlikte 20 kisi katiliyor.</p>
    <a class="btn btn-primary" href="/meeting/list">Katilimcilari Listele</a>
</main>
