<h1 class="h4">Toplanti Katilim Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Katilim durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Emirhan Kilicaslan</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="">Detay</a>
            </td>
        </tr>
    </tbody>
</table>