@model UserInfo

@{
    ViewBag.Title = "Basvuru Durumu";
}
<main class="text-center">
    <h1 class="h4">Basvuru Durumu</h1>

    @if(Model.WillAttend == true)
    {
        <p>Tesekurler @Model.Name, toplantiya sizinle birlikte @ViewBag.UserCount kisi katiliyor.</p>
        <a class="btn btn-primary" href="/meeting/list">Katilimcilari Listele</a>
    } else
    {
        <p>@Model.Name, katilmadigindan dolayi uzgunuz.</p>
        <a class="btn btn-primary" href="/meeting/apply">Basvuru Formu</a>
    }

</main>
